<h3>Login</h3>

<form class="login-form" action="<%=session_url%>" method="post">
  <label for="username-field">Email:</label>
  <input type="text" name="user[username]" value="">
  <label for="password-field">Password:</label>
  <input type="text" name="user[password]" value="">

  <button type="submit">Login</button>
</form>
