<h3>Add a new band</h3>


<form class="band-form" action="<%=bands_url%>" method="post">
  <label for="band-name">Band Name:</label>
  <input class="band-name" type="text" name="band[name]" value="">

  <button type="submit" name="button">Add Band</button>
</form>
